* {
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img {
  width: 8rem;
}

iframe {
  width: 24rem;
}

body {
  width: 100%;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div.card-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}

div.card-container > div {
  padding: 1.5rem;
  height: auto;
  border: 2px solid red;
  border-radius: 25px;
}

div.card-container > div > img {
  transition: transform 0.3s ease-in-out;
}

div.card-container > div > img:hover {
  transform: scale(1.2);
}

footer {
  background-color: blueviolet;
  color: white;
  text-decoration: underline;
  text-decoration-color: aqua;
  width: 100%;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid aqua;
}

header {
  width: 100%;
  color: white;
  text-decoration: underline;
  text-decoration-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
}

header > h1 {
  font-size: 4rem;
  margin: 0;
  padding: 0;
}

.messageBoard {
  font-weight: 600;
  font-size: 3rem;
  color: red;
}

.message-container {
  margin: 0 auto 2rem auto;
}

h2.chooseItem,
h2.sub-title {
  margin: 2rem auto;
  color: brown;
}

h2.sub-title > span {
  color: red;
}
