* {
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img {
  width: 8rem;
}

iframe {
  width: 24rem;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div.card-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
